@using WebUi.Auth;
@using WebUi.Data.Services.UserService;
@inherits LayoutComponentBase

@inject AuthenticationStateProvider stateProvider
@inject ICompanyService companyService

<MudThemeProvider IsDarkMode=true/>
<MudDialogProvider />
<MudSnackbarProvider />
<WebUi.Components.Popovers.Toast/>
<MudLayout>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">@companyName</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </MudContainer>
    </MudMainContent>
    
</MudLayout>
@if (isProgressBarOpen)
{
    <div style="margin-top:300px">
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
    </div>
}

@code {
    bool _drawerOpen = true;
    private bool isProgressBarOpen { get; set; } = false;
    string companyName { get; set; } = "";
    public int? companyId { get; set; }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    public void SetProgressBarState(bool state)
    {
        isProgressBarOpen = state;
        StateHasChanged();  
    }

    protected override async Task OnInitializedAsync()
    {
        companyName = await GetCompanyText();
    }

    public async Task<string> GetCompanyText()
    {
        var state = await ((ErpStateProvider)stateProvider).GetAuthenticationStateAsync();
        if(!state.User.Claims.Any())
            return "Signed out";

        if (state.User.IsInRole("Admin"))
            return "Administrator";

        companyId = int.Parse(state.User.Claims.FirstOrDefault(e => e.Type.Equals("companyId")).Value);

        var company = await companyService.GetCompany(companyId.Value);

        return company.Data.name;

    }

}